@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.dashboard {
    font-family: Poppins, Arial, sans-serif;
    color: white;
    background-color: #1a1a1a;
    min-height: 100vh;
}

.dashboard-content {
    padding: 2rem;
}

.dashboard-content h1 {
    margin-bottom: 2rem;
}

.quick-actions {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

i{
    color: wheat;
    size: 500px;
}

.user-workouts h2 {
    margin-bottom: 1rem;
}

.workout-list {
    list-style-type: none;
    padding: 0;
}

.workout-item {
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workout-item span:first-child {
    font-weight: bold;
}

a.icons{
    cursor: pointer;
    color: white;
}