.workout-card {
    /* margin-right: 2rem; */
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
}

.workout-card h2 {
    margin-top: 0;
    color: #ffffff;
    height: auto;
    width: 100%;
    height: 5vh;
}

.workout-card p {
    /* overflow-y: scroll;
    overflow-x: hidden; */
    color: #cacaca;
    height: 12vh;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: center;
    gap: 10px;
    margin-top: 15px;
}

.workout-card button {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.workout-card button:hover {
    background-color: #0056b3;
    opacity: 0.9;
}

.workout-card .delete-btn {
    background-color: #dc3545;
}

.workout-card .delete-btn:hover {
    background-color: #c82333;
}

.workout-card .download-btn {
    background-color: #747474;
}

.workout-details {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.exercise {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
}

.exercise h3 {
    margin: 0 0 10px 0;
    color: #495057;
}

.exercise p {
    margin: 5px 0;
    color: #6c757d;
}

.exercise-list {
    list-style-type: none;
    padding-left: 0;
}

.exercise-list li {
    margin-bottom: 5px;
}

.workout-card1 {
    width: 100%;
    display: flex;
}

.workout-card1 h2{
    width: 40%;
}

.workout-card1 p{
    width: 60%;
}

.exercise3 {
    background-color: #44494d;
    /* margin-right: 2rem; */
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    transition: 1s;
}

.exercise3:hover{
    background-color: #61686d;
}

.exercise3 h2 {
    margin-top: 0;
    color: #ffffff;
    height: auto;
    width: 100%;
    height: 5vh;
}

.exercise3 p {
    /* overflow-y: scroll;
    overflow-x: hidden; */
    color: #cacaca;
    height: 2vh;
    padding-bottom: 15px;
    margin-bottom: 0 !important;
}

.exercise3 button {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.workout-card3 button:hover {
    background-color: #0056b3;
    opacity: 0.9;
}